@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin:0;
	font-family: 'Roboto', sans-serif;
}
.clear{
	clear:both;
}
body {
	padding: 80px;
}
#logo {
	font-size: 30px;
	padding-bottom: 20px;
}
a{
	text-align: left;
	margin-right: 30px;
	text-decoration: none;
	padding:10px;
}
h1{
	padding-top: 60px;
	padding-bottom: 20px;
}
.text{
	float:left;
	width:50%;
	text-align: justify;
}
.photo img{ 
	width: 30%;
	height:auto;
	float:left;
	padding-left: 40px;
	padding-top: 30px;
}